/* Universal Selector Selects all elements
*{

    color:pink;
    background-color: green;
} */

 /* the element selector changes the backrgound color of the body elements  */
 body 
    {
        background-color: aqua;
    }

/* It increases the size of the body to a size of 30px */
button 
    {
        font-size: 30px;
    }
/* Multiple selectors are useful select morethan 1 element at a time in CSS */
h1,h2 
    {
        color: yellow;
    }

/* the # is used for an id selector */

#signup 
    {
        background-color: brown;
        color: violet;
    }

/* . is used for class selector */
.tag
    {
        color: purple;
    }

/* descendent selector is a way to select elements that are located somewhere underneath other elements */
.post a
    {
        color: purple;
    }

/* footer is the parent while a being the child */
footer > a {
    color: orange;
}

/* The CSS attribute selector matches elements based on the presence or value of a given attribute */
 a[herf="google"]{
        color:blanchedalmond;
 }

/* the pusedo class is going to change the background colors of the buttons to yellow and their colors to aqua*/
 button:hover {

    background-color:yellow;
    color: aqua;

 }

 /* the pusedo class is going to change the background colors of the buttons to green */
 .post button:active {

    background-color:green;
 }

 /* the pusedo element increases the font size to 45px */
 h2::first-letter {

    font-size: 45px;
 }

 /*the pusedo element is going to change the color of the first line to green with a size of 45px */
 p::first-line{
    color:green;
    font-size:45px;
 }